.bingo {
	position: relative;
	color: black;
	border-collapse: collapse;
	padding: 0;
	box-shadow:inset 0 0 0 0.1em rgb(240, 20, 0);
}
.header {
	color: rgb(240, 20, 0);
	background-color: rgba(0,0,0,0);
	border-collapse: separate;
	border-spacing: 0.05em;
	font-weight: bold;
}
.num {
	border: 0.1em solid rgb(240, 20, 0);
	background-color: white;
	color: black;
	padding: 0.1em;
}